:root {
    --scrollbar-width: 1em;
    scrollbar-gutter: stable;
}

::-webkit-scrollbar {
    width: var(--scrollbar-width);
    background: rgb(24, 0, 32)
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(2, 2, 36);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(73, 70, 77);
    border-radius: var(--scrollbar-width);
}

html,
body {
    scroll-behavior: smooth;
    margin: 0;
}

#presentation-content {
    /*background: rgba(255, 0, 0, .2);*/
    overflow: hidden;
    min-width: min(1400px, calc(100vw - 40px - var(--scrollbar-width)));
    max-width: min(1400px, calc(100vw - 40px - var(--scrollbar-width)));
    margin: 0px auto;
    padding-top: 10px;


    /*tmp*/
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*tmp*/
#presentation-content > a {
    margin: 14px;
}

#presentation-content,
#presentation-cover {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}